.avatar {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  object-fit: cover;
  color: white;
  text-transform: uppercase;
}
