.avatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.avatar_img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
		min-width: 300px;
		display: flex;

		img {
			align-items: center;
			border: 1px solid var(--primary-border);
			border-radius: var(--primary-border-radius);
			padding: 3px;
			width: auto;
			height: auto;
			max-width: 300px;
			max-height: 420px;
		}

		.avatar_placeholder {
			font-size: 82px;
			user-select: none;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid var(--primary-border);
			border-radius: var(--primary-border-radius);
			width: 300px;
			height: 300px;
			color: white;
			overflow: hidden;
		}
	}

	> div:not(:first-child) {
		width: 100%;
		cursor: pointer;
		user-select: none;
		text-align: center;
		padding: 5px 0;
		border: 1px solid var(--primary-border);
		border-radius: var(--primary-border-radius);
		&:hover {
			background-color: var(--primary-border);
		}
	}
	> div {
		margin-top: 5px;
	}
}
