.nav_wrapper {
	min-width: 170px;
	> nav {
		> a {
			> div {
				cursor: pointer;
				user-select: none;
				display: flex;
				padding: 5px;
				border-radius: var(--primary-border-radius);
				gap: 10px;
				&:hover {
					background-color: var(--primary-hover);
				}

				> div {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
