.friends_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  .friends {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    background-color: var(--extra-background);
    border: 1px solid var(--primary-border);
    border-radius: var(--primary-border-radius);
    padding: 20px;
    .tabs {
      display: flex;
      gap: 10px;
      .tabItem {
        font-size: 14px;
        user-select: none;
        cursor: pointer;
        padding: 2px 15px;
        border: 1px solid var(--primary-border);
        border-radius: var(--primary-border-radius);
        .tab {
          display: flex;
          gap: 5px;
          align-items: center;
        }
      }

      .tabItem_active {
        color: white;
        background-color: var(--primary-button);
      }
    }
  }
}

.notifCount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 14px;
  height: 14px;
  padding-right: 1px;
  color: white;
  background-color: var(--notif-count);
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .friends_wrapper {
    margin: 10px 10px 0px 0px !important;
  }
}

@media (max-width: 550px) {
  .friends_wrapper {
    margin: 0px 10px 0px 0px;
    .friends {
      background-color: var(--extra-background);
      border: none;
      border-radius: 0px;
    }
  }
}
