.messages {
	display: flex;
	flex-direction: column-reverse;
	gap: 20px;
	height: 75vh;
	padding: 15px 15px;
	overflow: auto;
	scroll-behavior: smooth;
	> div {
		display: flex;
		flex-direction: column;
	}
}

.messages::-webkit-scrollbar {
	width: 10px;
}
.messages::-webkit-scrollbar-track {
	background-color: var(--primary-scroll);
}
.messages::-webkit-scrollbar-thumb {
	background-color: var(--primary-background);
}
