.auth {
	display: flex;
	justify-content: center;
	background-color: var(--extra-background);
	border: 1px solid var(--primary-border);
	border-radius: var(--primary-border-radius);
	min-width: 320px;
	padding: 20px;
	margin: 0 auto;
	form {
		width: 80%;
		display: flex;
		flex-direction: column;
		gap: 8px;

		.heading {
			text-align: center;
		}

		.descr {
			color: var(--secondary-color);
			text-align: center;
			font-size: 14px;
		}

		.birth {
			display: flex;
		}
	}
}
