.auth {
	display: flex;
	justify-content: center;
	background-color: var(--extra-background);
	border: 1px solid var(--primary-border);
	border-radius: var(--primary-border-radius);
	min-width: 320px;
	padding: 20px;
	margin: 0 auto;
	form {
		width: 80%;
		display: flex;
		flex-direction: column;
		gap: 8px;

		.heading {
			text-align: center;
		}

		.descr {
			color: var(--secondary-color);
			text-align: center;
			font-size: 14px;
		}

		.birth {
			display: flex;
		}
	}
}

.segmentInput {
	display: flex;
	justify-content: center;
	gap: 8px;
	padding: 10px 0px;

	input {
		text-align: center;
		max-width: 30px;
		height: auto;
		font-size: 24px;
		background-color: var(--primary-background);
		border-radius: 5px;
		&:focus {
			border: 1px solid var(--primary-hover);
			margin: -1px;
		}

		&::placeholder {
			color: var(--secondary-color);
		}
	}
}
