.messageWrapper {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  // overflow-x: ;
  &:hover {
    cursor: pointer;
  }

  .message {
    gap: 5px;
    width: fit-content;
    max-width: 60%;
    word-wrap: break-word;
    padding: 5px 10px;
    color: var(--primary-button-color);
    border-radius: var(--primary-border-radius);

    .dateWrapper {
      user-select: none;
      padding: 1px 0px 0px 10px;
      position: relative;
      top: 0.375rem;
      float: right;
      padding-bottom: 5px;
      .date {
        user-select: none;
        color: rgb(255, 255, 255, 0.533);
        font-size: 12px;
      }
    }
  }
}

.active {
  background-color: var(--primary-hover);
}

.userSend {
  align-self: flex-end;
  background-color: var(--primary-button);
}

.userGet {
  background-color: var(--secondary-color);
}
