.chatItem {
	cursor: pointer;
	display: flex;
	gap: 15px;
	padding: 15px 35px;
	border-radius: var(--primary-border-radius);
	&:hover {
		background-color: var(--primary-hover);
	}

	.chatInfo {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
		.upperBlock {
			display: flex;
			justify-content: space-between;

			.name {
			}

			.lastTime {
				color: var(--secondary-color);
				padding-right: 10px;
			}
		}

		.lastMessage {
			display: flex;
			align-items: center;
			gap: 5px;

			> :last-child {
				display: flex;
				max-width: 600px;
				word-wrap: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
