@mixin vertical-align($for) {
	> #{$for} {
		padding: 10px 5px;
		display: flex;
		align-items: center;
		gap: 5px;
	}
}

.header {
	position: fixed;
	width: 100vw;
	background-color: var(--extra-background);
	border-bottom: 1px solid var(--primary-border);

	.wrapper {
		display: flex;
		justify-content: space-between;
		max-width: var(--main-width);
		margin: 0 auto;
		> div {
			display: flex;
			align-items: center;
			@include vertical-align(a);
			:hover {
				background-color: var(--primary-hover);
			}
		}

		.search {
			width: 30%;
			min-width: 200px;
			:hover {
				background-color: transparent;
			}
			> input {
				width: 100%;
				height: 70%;
				padding: 0px 5px;
				font-size: 14px;
				border: 1px solid var(--primary-border);
				border-radius: var(--primary-border-radius);
			}
		}

		.theme {
			cursor: pointer;
			user-select: none;
			padding: 0px 5px;
			&:hover {
				background-color: var(--primary-hover);
			}
		}

		.logo {
			img {
				border-radius: 25px;
				background-color: white;
			}
		}

		.any {
		}
	}
}
