.comments {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-top: 1px solid var(--primary-border);
	padding-top: 10px;

	.create_comment {
		display: flex;
		gap: 10px;
		align-items: flex-start;
		justify-content: space-around;
		.textarea_wrapper {
			width: 100%;
			height: 5%;
		}
		.send {
			display: flex;
			align-items: center;
			height: 35px;
			svg {
				color: var(--primary-button);
				user-select: none;
				cursor: pointer;
			}
		}
	}
}
