.create_post {
	padding: 10px;
	background-color: var(--extra-background);
	border: 1px solid var(--primary-border);
	border-radius: var(--primary-border-radius);
	.textarea_wrapper {
		padding: 5px;
		> textarea {
			color: var(--primary-color);
			background-color: var(--extra-background);
			border: 1px solid var(--primary-border);
			border-radius: var(--primary-border-radius);
			padding: 5px;
			width: 99%;
			height: 30px;
			resize: none;

			&:focus {
				transition: 0.2s;
				height: 150px;
			}
		}

		> textarea::placeholder {
			line-height: 30px;
			font-size: 18px;
			color: var(--primary-color);
		}
	}
}
