@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,400&display=swap");

:root {
  --primary-border-radius: 12px;
  --main-width: 1000px;
  --center-width: 830px;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  transition: 0.1s ease;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-background);
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--primary-background);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-scroll);
}

input,
button {
  all: unset;
}

textarea {
  outline: none;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h5 {
  margin: 0;
  padding: 0;
}
