.create_post {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 10px;
	background-color: var(--extra-background);
	border: 1px solid var(--primary-border);
	border-radius: var(--primary-border-radius);
	.textarea_wrapper {
		width: 98.5%;
		height: 100px;
	}

	.buttons {
		display: flex;
		align-items: center;
		gap: 20px;
		button {
			padding: 10px 20px;
		}
		> svg {
			user-select: none;
			cursor: pointer;

			width: 30px;
			height: 30px;
			path {
				fill: var(--secondary-color);
			}
		}
	}
}
