.user_info_counter {
	cursor: pointer;
	user-select: none;
	text-align: center;
	padding: 8px;
	border: 1px solid var(--primary-border);
	border-radius: var(--primary-border-radius);
	&:hover {
		background-color: var(--primary-border);
	}
	> div:first-child {
		font-size: 24px;
		font-weight: bolder;
	}
}
