.user_info_counter {
  user-select: none;
  text-align: center;
  padding: 8px;
  border: 1px solid var(--primary-border);
  border-radius: var(--primary-border-radius);
  > div:first-child {
    font-size: 100%;
    font-weight: bolder;
  }
}
