.header {
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--primary-border);
	padding: 8.5px 10px;
	background-color: var(--extra-background);
}
