@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Russo+One&display=swap');

@import 'react-redux-toastr/lib/css/react-redux-toastr.min.css';

:root {
	--primary-border-radius: 8px;
	--main-width: 1000px;
	--center-width: 830px;
}

html,
body,
#__next {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	transition: 0.3s;
}

input,
button {
	all: unset;
}

textarea {
	outline: none;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}
