:root {
	--primary-color: #e0ffff;
	--secondary-color: #818c99;
	--primary-background: #141414;
	--extra-background: #222222;
	--primary-border: #424242;
	--primary-hover: #323232;
	--primary-scroll: #222222;
	--primary-button: white;
	--primary-button-color: white;
}
