.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: 0.3s;

  .header_wrapper {
  }

  .main_wrapper {
    margin: 0 auto;
    min-width: var(--main-width);
    .main {
      display: flex;
      justify-content: center;
      margin-top: 55px;
      margin-bottom: 15px;
      .center {
        display: flex;
        justify-content: center;
        max-width: var(--center-width);
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .layout {
    .main_wrapper {
      margin: 0 auto;
      min-width: 100vw;
      .main {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        margin-bottom: 0px;
        .left {
          display: none;
        }
      }
    }
  }
}
