.peoples_item {
	display: flex;
	padding: 10px;
	gap: 20px;
	border-top: 1px solid var(--primary-border);

	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.status {
			color: var(--secondary-color);
		}

		.actions {
			display: flex;
			gap: 10px;
			.addOrDelete {
				user-select: none;
				cursor: pointer;
			}
		}

		> a {
			width: fit-content;
		}
	}
}
