.peoples_item {
  display: flex;
  padding: 10px;
  gap: 20px;
  border-top: 1px solid var(--secondary-border);

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .name {
      display: flex;
      gap: 10px;

      .checkMark {
        display: flex;
        align-items: center;
        .checkMarkIcon {
          background-color: var(--primary-button);
          width: 16px;
          height: 16px;
          &::after {
            bottom: 4px;
            left: 4px;
          }
        }
      }

      .nickname {
        font-size: 14px;
        display: flex;
        color: var(--secondary-color);
        > svg {
          width: 15px;
        }
      }
    }

    .status {
      padding: 5px 0px;
      word-break: break-all;
      color: var(--secondary-color);
    }

    .actions {
      display: flex;
      gap: 10px;
      color: var(--primary-button);
      > div {
        user-select: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > a {
      width: fit-content;
    }
  }
}
