.dialogWrapper {
	position: relative;
	width: 100%;

	.dialogWindow {
		width: 100%;
		background-color: var(--extra-background);
		border: 1px solid var(--primary-border);
		border-radius: var(--primary-border-radius) var(--primary-border-radius) 0px
			0px;
		overflow: hidden;
		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid var(--primary-border);
			padding: 15px 10px;
		}
	}
}
