.textarea {
	box-sizing: border-box;
	color: var(--primary-color);
	background-color: var(--extra-background);
	border: 1px solid var(--secondary-border);
	border-radius: var(--primary-border-radius);
	padding: 6px 5px;
	width: 100%;
	max-height: 100%;
	resize: none;
	font-size: 14px;
}

.textarea::placeholder {
	display: flex;
	font-size: inherit;
	color: var(--secondary-color);
}
